* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EDEDED;
}

.heading {
    text-align: center;
    font-size: 72px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 24px;
    margin-bottom: 48px;
    color: #333333;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.grid.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    align-items: stretch;
    /* border: 5px solid pink; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-row {
    display: flex;
    flex: 1;
}

.grid-obj {
    background-color: #fefefe;
    /* border: 1px solid black; */
    flex: 1;
}

.perma-hover {
    background-color: pink;
}

.size-slider {
    border-radius: 5px;
    height: 0px;
    margin-bottom: 24px; 
    accent-color: #ededed;
    accent-color: #333333;
}

.slider-container {
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 48px;
}

.options-bar {
    margin-right: 32px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #e9e9ed;
    border: 1px solid black;
    font-size: 16px;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 69%;
    text-align: center;
    justify-content: center;
    gap: 16px;
}

button:hover{
    transform: scale(1.05);
    background-color: #D0D0D7;
}

.buttons .color-inp {
    align-self: center;
    height: 75px;
    width: 75px;
    
}